flask==2.3.2
flask_sqlalchemy==3.0.3
flask_cors==3.0.10
apscheduler==3.10.4
requests==2.31.0
python-dotenv==1.0.1
Pillow==10.2.0
Jinja2==3.1.2
email-validator==2.1.0.post1
pyTelegramBotAPI==4.15.4
pyppeteer
dotenv
telebot
playwright
rq
redis
rq-dashboard
google-generativeai
waitress
flask-migrate==4.0.5